<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vineet Dandekar | Portfolio</title>
</head>
<body>
{{> header}}
<main>
    <h2>Main content</h2>
</main>
{{> footer}}
</body>
</html>