@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,400,400i,700,700i');

/*General styles*/

body {
    font-family: 'Raleway', san-serif;
}

a {
    font-weight: 600;
    transition: color 200ms;
}

a:hover, a:focus {
    color: #FF0000;
    text-decoration: none;
}



.btn.btn-info {
    background-color: #21759B;
    background-image: linear-gradient(to bottom, #2A95C5, #21759B);
    border-color: #21759B #21759B #1E6A8D;
}

header .navbar{
    border-radius: 0;
    margin-bottom: 0;
}
header .navbar .navbar-brand {
    font-weight: normal;
    font-size: 1.6em;
}

header .navbar .navbar-brand img{
    max-width: 30px;
    margin-right: 15px;
    display: inline-block;
}

/*Main page header*/

.main-header .jumbotron {
    background: url("../images/black-background.png") repeat, url("../images/boston.jpg") no-repeat;
    background-size: cover;
    position: relative;
    min-height: 65vh;
}

.main-header .jumbotron .media img{
    max-width: 300px;
}

.main-header .jumbotron .media,
.main-header .jumbotron .media h1{
    color: #FFFFFF;
    font-weight: 200;
}

.main-header .jumbotron .media .media-left {
    padding-right: 150px;
}

.main-header #main-menu {
    margin-bottom: 50px;
}

.main-header #main-menu ul li a {
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 200;
}

.main-header #main-menu .social-icons li{
    margin: 15px 20px 0 0;
}

.main-header #main-menu ul li a:hover,
.main-header #main-menu ul li a:focus{
    background: none;
}

.main-header #main-menu ul:not(.navbar-right) li:hover a::after,
.main-header #main-menu ul:not(.navbar-right) li.active a::after{
    background: #FFDB46 none repeat scroll 0 0;
    top: 0;
    content: "";
    display: inline-block;
    height: 1px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 50px;
}

.main-header #carousel-highlights {
    margin-top: 100px;
    text-transform: uppercase;
}

.main-header #carousel-highlights p {
    font-size: 2.5em;
}

/*Main body*/

.main-body .thumbnail {
    border: none;
    text-align: center;
}

.main-body .thumbnail .icon-container {
    padding: 40px;
    padding-bottom: 0;
}

.main-body .thumbnail .icon-container span.fa {
    font-size: 3em;
    color: #FFDB46;
}

.main-body .thumbnail .caption h3 {
    text-transform: uppercase;
    margin-bottom: 35px;
}

.main-body .thumbnail .caption p {
    line-height: 1.8;
}

.main-body .roles-container .row {
    margin-top: -130px;
}

.main-body .roles-container .row > div {
    background: #FFFFFF;
}