@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,400,400i,700,700i');

/*General styles*/

body {
    font-family: 'Raleway', san-serif;
}

a {
    font-weight: 600;
    transition: color 200ms;
}

a:hover, a:focus {
    color: #FF0000;
    text-decoration: none;
}



.btn.btn-info {
    background-color: #21759B;
    background-image: linear-gradient(to bottom, #2A95C5, #21759B);
    border-color: #21759B #21759B #1E6A8D;
}

header .navbar{
    border-radius: 0;
    margin-bottom: 0;
}
header .navbar .navbar-brand {
    font-weight: normal;
    font-size: 1.6em;
}

header .navbar .navbar-brand img{
    max-width: 30px;
    margin-right: 15px;
    display: inline-block;
}

.title-divider {
    background-color: #cccccc;
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 30px;
    margin-top: 25px;
    position: relative;
    width: 150px;
}

.title-divider span {
    background-color: #ffdb46;
    content: "";
    display: block;
    height: 3px;
    margin-top: 0;
    position: absolute;
    top: -1px;
    width: 50px;
}

.mobile,
.tablet {
    display: none;
}

/*Main page header*/

.main-header .jumbotron {
    background: url("../images/black-background.png") repeat, url("../images/boston.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

.main-header .jumbotron .profile-img{
    max-width: 300px;
}

.main-header .jumbotron,
.main-header .jumbotron h1{
    color: #FFFFFF;
    font-weight: 200;
}

.main-header .jumbotron .media .media-left {
    padding-right: 150px;
    padding-bottom: 85px;
}

.main-header #main-menu {
    margin-bottom: 50px;
}

.main-header #main-menu ul li a {
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 200;
}

.main-header #main-menu .social-icons li{
    margin: 15px 20px 0 0;
}

.main-header #main-menu ul li a:hover,
.main-header #main-menu ul li a:focus{
    background: none;
}

.main-header #main-menu ul:not(.navbar-right) li:hover a::after,
.main-header #main-menu ul:not(.navbar-right) li.active a::after{
    background: #FFDB46 none repeat scroll 0 0;
    top: 0;
    content: "";
    display: inline-block;
    height: 1px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 50px;
}

.main-header #carousel-highlights {
    margin-top: 100px;
    text-transform: uppercase;
}

.main-header #carousel-highlights p {
    font-size: 2.5em;
}

/*Main body*/

.main-body h1 {
    text-transform: uppercase;
}

.main-body p,
.main-body li{
    line-height: 1.8;
}

.main-body .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.main-body .thumbnail {
    border: none;
    text-align: center;
}

.main-body .thumbnail .icon-container {
    padding: 40px;
    padding-bottom: 0;
}

.main-body .thumbnail .icon-container span.fa {
    font-size: 3em;
    color: #FFDB46;
}

.main-body .thumbnail .caption h3 {
    text-transform: uppercase;
    margin-bottom: 35px;
}

.main-body .roles-container .row {
    margin-top: -130px;
}

.main-body .roles-container .row > div {
    background: #FFFFFF;
}

.main-body .summary-container {
    background-color: #F7F8FA;
}

.work .panel-default {
    border-color: #f2f2f2;
}

.work .panel-default:before {
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid #f2f2f2;
    border-top: 10px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    margin-left: -25px;
    position: absolute;
    top: 15px;
}

.work .panel-body {
    padding-top: 0;
}

.work .company {
    font-size: 1.2em;
    text-transform: uppercase;
}

.work .company > .title {
    font-size: 1em;
    font-style: italic;
    text-transform: capitalize;
    margin-left: 15px;
}

.work .period {
    padding-top: 10px;
    font-size: 1.8em;
}

.education-container .media-object {
    width: 150px;
    margin: 0 157px 0 50px;
}

.education-container .media .media-body p {
    font-size: 1.35em;
    font-style: italic;
}

.go-top {
    /*position: fixed;*/
    bottom: 0;
    right: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 85px;
}

/* Footer */

footer {
    background-color: #636B6B;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #f8f8f8;
}

footer .social-icons,
.jumbotron .mobile .social-icons{
    list-style: none;
    padding: 0;
    margin-bottom: 25px;
}

footer .social-icons li,
.jumbotron .mobile .social-icons li {
    display: inline-block;
    margin: 0 15px;
}

/* Media queries */

/* Mobile & Tablet */
@media screen and (max-width: 991px) {

    .main-header .jumbotron {
        height: 100vh;
    }

    .main-header .jumbotron .profile-img{
        margin: 25px;
    }

    .main-header .row > div {
        text-align: center;
    }

    .main-header #carousel-highlights {
        margin-top: 0;
        text-transform: none;
    }

    .main-header #carousel-highlights p {
        font-size: 21px;
    }

    .main-body .thumbnail {
        border-top: 1px solid #ddd;
    }

    .main-body .thumbnail .caption h3 {
        margin: 10px 0 20px;
    }

    .main-body .thumbnail .icon-container {
        margin-bottom: 0;
    }

    .main-body .roles-container {
        padding-top: 0;
    }

    .main-body .roles-container .row {
        margin-top: 0;
    }

    .main-body .roles-container .row > div:first-child .thumbnail {
        border: none;
    }

}

/* Mobile screen */
@media screen and (max-width: 767px) {

    .mobile {
        display: block !important;
    }

    .tablet,
    .desktop {
        display: none;
    }

    .main-header .jumbotron p {
        font-size: 15px;
    }

    .main-header #carousel-highlights p {
        font-size: 15px;
    }

    .work .period {
        text-align: center;
        font-size: 1.5em;
    }

    .work .panel-default {
        border-top: none;
    }

    .work:last-of-type .panel-default {
        border-bottom: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .work .panel-body {
        padding: 0;
    }

    .work .company {
        margin: 10px 0 20px;
        text-align: center;
    }

    .work .company > a:after {
        content: "";
        display: block;
    }

    .work .company > .title {
        margin-left: 0;
        display: inline-block;
        margin-top: 10px;
    }

    .work ul.desc {
        padding-left: 15px;
    }

    .education-container .thumbnail {
        border: none;
        background: none;
    }

    .education-container .thumbnail .caption h2{
        font-size: 1.5em;
    }

    .education-container .thumbnail img {
        width: 175px;
    }

}

/* Mobile Screen - Iphone 5 and smaller */
@media screen and (max-width: 374px) {

    .main-header .jumbotron .profile-img{
        max-width: 200px;
    }

}

/* Mobile screen - landscape view */
@media screen and (max-width: 767px) and (orientation: landscape) {

    .main-header .jumbotron {
        padding-top: 0;
    }

    .main-header .jumbotron .profile-img {
        margin: 10px;
        max-width: 100px;
    }

    .main-header .jumbotron h1 {
        font-size: 1.5em;
    }

}

/* Mobile screen - Iphone 5 and smaller landscape view */
@media screen and (max-width: 666px) and (orientation: landscape) {

    .main-header .jumbotron h1 {
        margin: 0;
    }

}

/* Mobile screen - Google pixel2 XL & Iphone X Landscape view */
@media screen and (min-width: 768px) and (max-width: 823px) and (orientation: landscape) {

    .main-header .jumbotron {
        padding-top: 0;
    }

    .main-header .jumbotron h1 {
        font-size: 1.65em;
    }

    .main-header .jumbotron p,
    .main-header #carousel-highlights p{
        font-size: 1em;
    }

    .main-header .jumbotron .profile-img {
        margin: 10px;
        max-width: 100px;
    }

    .main-header #main-menu {
        margin-bottom: 0;
    }

}

/* Tablet Screen */
@media screen and (min-width: 768px) and (max-width: 991px) {

    .tablet {
        display: block !important;
    }

    .mobile,
    .desktop {
        display: none;
    }

    .main-body .thumbnail .caption p {
        margin: 0 auto;
        width: 70%;
    }

    .work .period {
        text-align: center;
        margin-bottom: 20px;
    }

    .work .panel-default:before {
        border-bottom: 10px solid #f2f2f2;
        border-right: 10px solid rgba(0, 0, 0, 0);
        border-left: 10px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        margin-left: -25px;
        position: absolute;
        top: -20px;
        left: 50%;
    }

    .education-container .media-object {
        margin: 0 50px 0 50px;
    }

}
